@import "tailwindcss";

:root {
  --background: #f6f6f8; /* background-light */
  --foreground: #111318;
  --primary: #1152d4;
  --emergency: #d32f2f;
  --success: #2e7d32;
  --background-dark: #101622;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-emergency: var(--emergency);
  --color-success: var(--success);
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --font-display: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
